name: Docker Build Test

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t appointment-service:latest application-service .

      - name: Run container (basic health check)
        run: |
          docker run -d -p 3001:3001 --name test-app appointment-service:latest
          sleep 5
          curl http://localhost:3001/health
